<%= form_for @photo do |f| %>
  <%= render "shared/errors", object: @photo %>
  <% if @photo.image_data? %>
    <%= image_tag @photo.image_url(:thumb) %> <br>
    <p>
      Size: <%= @photo.image[:original].size %> bytes<br>
      MIME type: <%= @photo.image[:original].mime_type %><br>
    </p>
 <%= f.hidden_field :image, value: @photo.cached_image_data %>

<% end %>
    Remove attachment: <%= f.check_box :remove_image %>

 
  <%= f.label :title %>
  <%= f.text_field :title %>
 
  <%= f.label :image %>
  <%= f.file_field :image %>
 
  <%= f.submit %>
<% end %>